body {
    font-family: system-ui, sans-serif;
    background: #0f172a;
    color: #f1f5f9;
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-size: 8rem;
    color: #7dd3fc;
}
h2 {
    font-size: 5rem;
    color: #38bdf8;
}

#timeago {
    font-size: 10rem;
    margin-top: 8px;
}
